<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AINE.MicroSites.WebClient.dll .\Accenture.AINE.MicroSites.WebClient.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
        <!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: E3724DD1-3D84-44B2-A814-9B16CDE36E65-->